<mat-list>
    <mat-list-item>
        <mat-form-field>
            <input matInput placeholder="ID" [value]="competition.slug">
        </mat-form-field>
    </mat-list-item>
    <mat-list-item>
        <mat-form-field>
            <input matInput placeholder="Name" [value]="competition.name">
        </mat-form-field>
    </mat-list-item>
    <mat-list-item>
        <mat-form-field>
            <input matInput [matDatepicker]="startDatePicker" placeholder="Start" [value]="competition.schedule.start">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-select value="3">
                <mat-option *ngFor="let hour of hours" [value]="hour">
                    {{ hour }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select value="55">
                <mat-option *ngFor="let minute of minutes" [value]="minute">
                    {{ minute }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput [value]="competition.schedule.start">
        </mat-form-field>
    </mat-list-item>
    <mat-list-item>
        <mat-form-field>
            <input matInput [matDatepicker]="endDatePicker" placeholder="End" [value]="competition.schedule.end">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [value]="competition.schedule.end">
        </mat-form-field>
    </mat-list-item>
</mat-list>

{{ competition.schedule.start | date: 'h' }} - {{ competition.schedule.end | date:'medium' }}
