<div class="competitions">
  <div *ngFor="let competition of competitions">
    <mat-card>
      <mat-card-title>{{ competition.name }}</mat-card-title>
      <mat-card-subtitle>@{{ competition.slug }}</mat-card-subtitle>
      <mat-card-content>
        {{ competition.schedule.start | date:'medium' }} - {{ competition.schedule.end | date:'fullTime' }}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['edit', competition.slug]">EDIT</button>
        <button mat-button>DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <button mat-fab color="primary" routerLink="add">
    <mat-icon>add</mat-icon>
  </button>
</div>
<router-outlet></router-outlet>
