<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{battle.title}}
    </mat-panel-title>
    <mat-panel-description>
      {{battle.mode}}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <p>This is the primary content of the panel.</p>
  <mat-form-field>
    <mat-select [(value)]="battle.mode">
      <mat-option value="turf_war">Turf War</mat-option>
      <mat-option value="splat_zones">Splat Zones</mat-option>
      <mat-option value="tower_control">Tower Control</mat-option>
      <mat-option value="rainmaker">Rainmaker</mat-option>
      <mat-option value="clam_blitz">Clam Blitz</mat-option>
    </mat-select>
  </mat-form-field>
</mat-expansion-panel>
