<div class="application">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 style="font-family: 'Splatfont';">Splatoon 2</h1>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #snav>
      <mat-nav-list>
        <a mat-list-item routerLink="/players" (click)="snav.close()">プレイヤー</a>
        <a mat-list-item routerLink="/groupings" (click)="snav.close()">チームぎめ</a>
        <a mat-list-item routerLink="/results" (click)="snav.close()">対戦結果</a>
        <a mat-list-item routerLink="/rankings" (click)="snav.close()">ランキング</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav position="end">End</mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <app-messages></app-messages>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
