<div class="application">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 style="font-family: 'Splatfont';">{{ competition.name }}</h1>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #snav>
      <mat-nav-list>
        <a mat-list-item routerLink="." (click)="snav.close()">Dashboard</a>
        <a mat-list-item routerLink="create_battles" (click)="snav.close()">チームぎめ</a>
        <a mat-list-item routerLink="battle_results" (click)="snav.close()">対戦結果</a>
        <a mat-list-item routerLink="player_rankings" (click)="snav.close()">ランキング</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <app-message></app-message>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
