<mat-card droppable [draggable] [dragData]="this" fxFlex="200px" style="margin: 10px;" [dropEnabled]="playerDragDropEnabled" [dragEnabled]="teamDragDropEnabled" (onDrop)="onPlayerDrop($event)" [dropScope]="'player'" [dragScope]="'team'">
  <mat-card-title style="font-family: 'Splatfont';">
    <mat-icon *ngIf="teamDragDropEnabled">drag_handle</mat-icon>{{team.title}}
  </mat-card-title>
  <mat-list style="padding-top: 0;">
    <app-player *ngFor="let player of team.players" [player]="player" [playerDragDropEnabled]="playerDragDropEnabled" (deleteRequest)="deletePlayer($event)"></app-player>
  </mat-list>
</mat-card>
